html, body {
    height: 100%;
    font-family: arial, sans-serif;
    margin: 0;
    text-align: center;
}

header {
    background: linear-gradient(128deg, #1f0c70, #6c609e, #000f3c);
    background-size: 600% 600%;
    animation: AnimationName 8s ease infinite;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 40px;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0 11%}
    50%{background-position:100% 90%}
    100%{background-position:0 11%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0 11%}
    50%{background-position:100% 90%}
    100%{background-position:0 11%}
}
@keyframes AnimationName {
    0%{background-position:0 11%}
    50%{background-position:100% 90%}
    100%{background-position:0 11%}
}

header img{
    width: 250px;
}

main {
    padding: 40px;
}

h1 {
    font-weight: lighter;
    margin: 20px 0;
}

h3 {
    margin: 20px 0;
}

p {
    line-height: 1.5;
}