{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      },
      "doz-plugin-proposal-class-properties"
    ],
    [
      "transform-html-import-to-string"
    ]
  ]
}
